* {
  box-sizing: border-box; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #E8DDCC; }

img {
  width: 100%; }

li {
  list-style: none; }

h1,
h2 {
  font-weight: 500; }

#petCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  height: 100%; }
  #petCard * {
    transition: all .7s ease; }
  #petCard .flex {
    margin: auto; }

@media screen and (max-width: 480px) {
  .expanded h2,
  .expanded h3,
  .expanded h4,
  .expanded p,
  .expanded div {
    display: block; }
  .expanded h1 {
    font-size: 26px; }
  .expanded h2 {
    font-size: 18px;
    line-height: 0; }
  .expanded .petPic {
    border-radius: 100%;
    object-fit: cover;
    display: block;
    width: 100px;
    height: 100px; }
  .collapsed p,
  .collapsed h4 {
    display: none; }
  .collapsed .petPic {
    border-radius: 100%;
    object-fit: cover;
    display: block;
    width: 70vw;
    height: 70vw; } }

.rounded {
  border-radius: 10px; }

@media screen and (min-width: 480px) {
  .collapsed h2,
  .collapsed h3,
  .collapsed h4,
  .collapsed p,
  .collapsed div, .expanded h2,
  .expanded h3,
  .expanded h4,
  .expanded p,
  .expanded div {
    display: block; }
  .collapsed .petPic, .expanded .petPic {
    border-radius: 100%;
    object-fit: cover;
    display: block;
    width: 300px;
    height: 300px; } }

.master-root {
  background-color: white;
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: none; }

.card {
  padding: 5vw;
  background-size: cover;
  position: absolute;
  background: #E8DDCC;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  overflow: hidden; }

.animate {
  transition: transform .3s;
  box-shadow: none; }

.inactive {
  box-shadow: none; }

.alert {
  width: 85px;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 1rem; }

.alert-visible {
  opacity: .6; }

.alert-base, .alert-right, .alert-left {
  margin: 15px;
  padding: 8px 5px 5px 5px;
  top: 0;
  border-radius: 100%; }

.icon {
  height: auto;
  width: 70px; }

.alert-right {
  right: 0;
  background: red; }

.alert-left {
  left: 0;
  background: blue; }

.container {
  padding: 5vw;
  padding-top: 10vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: flex-start;
  height: 80vh;
  max-width: 880px;
  margin: auto; }

.typeIcon {
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  width: 160px;
  transition: all .2s ease-in-out;
  margin: 10px; }
  .typeIcon:hover {
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media screen and (max-width: 480px) {
  .typeIcon {
    width: 16vh;
    margin: 10px; } }

.menu {
  z-index: 9999999;
  margin: auto;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 42px; }
  .menu .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms; }
  .menu .menu-open {
    display: none; }
  .menu .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms; }
  .menu .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }
  .menu .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .menu .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0); }
  .menu .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg); }
  .menu .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1); }
  .menu .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg); }
  .menu .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); }
  .menu .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0); }
  .menu .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0); }
  .menu .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }
  .menu .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(-100px, 40px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(65px, -30px, 0);
    transform: translate3d(-90px, -35px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(65px, 30px, 0);
    transform: translate3d(-35px, -90px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0px, 65px, 0);
    transform: translate3d(40px, -100px, 0); }
  .menu .menu-item {
    background: #EEEEEE;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; }
  .menu .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1; }
  .menu .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .item-1 {
    background-color: #0d688a;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-1:hover {
    color: #0d688a;
    text-shadow: none; }
  .menu .item-2 {
    background-color: #0a5571;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-2:hover {
    color: #0a5571;
    text-shadow: none; }
  .menu .item-3 {
    background-color: #084961;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-3:hover {
    color: #084961;
    text-shadow: none; }
  .menu .item-4 {
    background-color: #063648;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-4:hover {
    color: #063648;
    text-shadow: none; }

.splash,
.splash::before {
  text-align: left;
  background: linear-gradient(rgba(14, 100, 99, 0.8), rgba(14, 100, 99, 0.8)), url("http://caringpethospital.net/clients/7284/images/shutterstock_234936910.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.form {
  border-radius: 30px;
  position: absolute;
  background: #fff;
  width: calc(285px + 10vw);
  padding: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .form h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #0E6463;
    font-size: 18px;
    font-weight: 400; }
  .form div input {
    border-radius: 10px;
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear; }
    .form div input:focus {
      color: #333;
      border: 1px solid #0E6463; }
  .form div button {
    border-radius: 15px;
    cursor: pointer;
    background: #0E6463;
    width: 50%;
    padding: 10px 15px;
    border: solid 5px white;
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; }
    .form div button:hover {
      opacity: .8; }

.social {
  border: solid 2px white;
  padding: auto;
  border-radius: 100%;
  font-size: 28px;
  line-height: 46px;
  height: 48px;
  width: 48px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease; }

.facebook {
  background: #3B5998;
  color: white; }
  .facebook:hover {
    border: solid 2px #3B5998;
    color: #3B5998;
    background: white; }

.google {
  background: #dd4b39;
  color: white; }
  .google:hover {
    border: solid 2px #dd4b39;
    color: #dd4b39;
    background: white; }

.login-html .login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; }
  .login-html .login-form .sign-in-htm, .login-html .login-form .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear; }

.login-html .sign-in,
.login-html .sign-up {
  display: none; }

.login-html .tab {
  text-transform: uppercase;
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent; }

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: black;
  border-color: #0E6463; }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
  transform: rotate(0); }

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0); }
