* {
    box-sizing: border-box;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

h1,
h2 {
    font-weight: 500;
}

.master-root {
    margin: auto;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: none;
}

.card {
    padding: 5vw;
    background-color: white;
    background-size: cover;
    position: absolute;
    background: rgb(166, 207, 211);
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    transition: box-shadow .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    overflow: hidden;
}

.animate {
    transition: transform .3s;
    box-shadow: none;
}

.inactive {
    box-shadow: none;
}

.alert {
    width: 45%;
    min-height: 10%;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    vertical-align: middle;
    line-height: 3rem;
}

.alert-visible {
    opacity: 1;
}

.alert-right {
    top: 0;
    right: 0;
    background: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.alert-left {
    top: 0;
    left: 0;
    background: red;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.alert-top {
    background: purple;
    border-radius: 50px;
    transform: translate(-50%, 0);
    margin-left: 50%;
}

.alert-bottom {
    bottom: 0;
    background: blue;
    border-top-left-radius: 50px;
    border-radius: 50px;
    transform: translate(-50%, 0);
    margin-left: 50%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
}

.flex {
  margin: auto;
}

.petPic {
  object-fit: cover;
display: block;
max-width: 300px;
height: 30vh;
}
