* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFF; }

img {
  width: 100%; }

li {
  list-style: none; }

h1 {
  font-family: "Just Another Hand";
  font-size: 70px;
  margin: 20px; }

h1,
h2 {
  font-weight: 500; }

#singleMatchContainer {
  background-size: cover;
  position: relative;
  margin: auto;
  padding: 2vw;
  overflow: hidden; }

#petCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: calc(10px + 1vw); }
  #petCard * {
    transition: all .4s ease; }
  #petCard .petPic {
    margin: auto;
    border-radius: 30px;
    object-fit: cover;
    display: block; }
  #petCard #picContainer {
    width: 100vw; }

@media screen and (max-width: 480px) {
  .expanded h2,
  .expanded h3,
  .expanded h4,
  .expanded p,
  .expanded div {
    display: block;
    margin: 2px; }
  .expanded h1 {
    font-size: 40px;
    margin: 3px; }
  .expanded h2 {
    font-size: 16px; }
  .expanded .petPic {
    width: 150px;
    height: 150px; }
  .collapsed p,
  .collapsed h4 {
    transform: translateY(600px); }
  .collapsed .petPic {
    width: 250px;
    height: 250px; }
  #singleMatchContainer {
    height: 100vh;
    width: 100vw; } }

@media screen and (min-width: 480px) {
  .collapsed h1,
  .expanded h1 {
    font-size: 48px; }
  .collapsed h2,
  .expanded h2 {
    font-size: 24px;
    line-height: 0; }
  .collapsed h3,
  .collapsed h4,
  .collapsed p,
  .collapsed div,
  .expanded h3,
  .expanded h4,
  .expanded p,
  .expanded div {
    display: block; }
  .collapsed .petPic,
  .expanded .petPic {
    width: 300px;
    height: 300px; }
  #singleMatchContainer {
    margin: auto;
    border-radius: 40px;
    width: auto;
    max-width: 800px;
    border: dotted 5px #041733; } }

.flex {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }

.master-root {
  background-color: white;
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: none; }

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh; }

#card-stack {
  z-index: 1;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 40px;
  margin: 23px auto;
  height: 90vh;
  width: 85vw;
  box-shadow: inset 0 -6px 0 0 #9d9d9d, inset 0 -8px 0 0 #747474, inset 0 -14px 0 0 #c1c1c1, inset 0 -15px 0 0 #7b7a7a, 0 4px 10px -4px rgba(0, 0, 0, 0.8);
  padding: 1em 1em 1.5em 1em; }

.card {
  color: black;
  background: #FFF;
  border: solid 5px #063648;
  border-radius: 40px;
  background-size: cover;
  position: absolute;
  height: 90vh;
  width: 85vw;
  margin: 0 auto;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  overflow: hidden;
  z-index: 5; }

.animate {
  transition: transform .3s;
  box-shadow: none; }

.inactive {
  box-shadow: none; }

.alert {
  width: 80px;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 1rem; }

.alert-visible {
  opacity: .8; }

.alert-base, .alert-right, .alert-left {
  height: 100px;
  width: 100px;
  margin: 15px;
  padding: 8px 5px 5px 5px;
  top: 0;
  border-radius: 100%; }

.icon {
  height: 80px;
  width: 80px; }

.alert-right {
  right: 2vw;
  background: red; }

.alert-left {
  left: 2vw;
  background: black; }

.allPetTypes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-width: 900px; }

.typeIcon {
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  width: 160px;
  transition: all .2s ease-in-out;
  margin: 10px; }
  .typeIcon:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media screen and (max-width: 480px) {
  .typeIcon {
    width: 16vh;
    margin: 10px; } }

.petTypeContainer {
  padding: 5px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .petTypeContainer:hover {
    transform: scale(1.2); }

.petTypesText {
  font-family: "Just Another Hand";
  position: absolute;
  left: -35px;
  bottom: -5px;
  width: 100%;
  margin: auto;
  font-size: 30px;
  text-decoration: none;
  color: #041733; }

.menu {
  z-index: 9999999;
  margin: auto;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 42px; }
  .menu .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms; }
  .menu .menu-open {
    display: none; }
  .menu .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms; }
  .menu .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0); }
  .menu .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .menu .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0); }
  .menu .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg); }
  .menu .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1); }
  .menu .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg); }
  .menu .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); }
  .menu .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0); }
  .menu .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0); }
  .menu .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }
  .menu .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(-100px, 40px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(65px, -30px, 0);
    transform: translate3d(-90px, -35px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(65px, 30px, 0);
    transform: translate3d(-35px, -90px, 0); }
  .menu .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0px, 65px, 0);
    transform: translate3d(40px, -100px, 0); }
  .menu .menu-item {
    background: #EEEEEE;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; }
  .menu .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1; }
  .menu .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms; }
  .menu .item-1 {
    background-color: #0d688a;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-1:hover {
    color: #0d688a;
    text-shadow: none; }
  .menu .item-2 {
    background-color: #0a5571;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-2:hover {
    color: #0a5571;
    text-shadow: none; }
  .menu .item-3 {
    background-color: #084961;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-3:hover {
    color: #084961;
    text-shadow: none; }
  .menu .item-4 {
    background-color: #063648;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  .menu .item-4:hover {
    color: #063648;
    text-shadow: none; }

.splash,
.splash::before {
  text-align: left;
  background: linear-gradient(rgba(14, 100, 99, 0.8), rgba(14, 100, 99, 0.8)), url("./styles/splash.webp") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.form {
  border-radius: 30px;
  position: absolute;
  background: rgba(255, 243, 229, 0.8);
  width: calc(285px + 10vw);
  padding: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .form .img-container {
    display: flex;
    width: 100%;
    height: 100px; }
  .form .social-container {
    position: absolute;
    bottom: 0; }
  .form #logo {
    width: 200px;
    margin: auto;
    padding: 0 15px 0 0; }
  .form h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #0E6463;
    font-size: 18px;
    font-weight: 400; }
  .form div input {
    border-radius: 10px;
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear; }
    .form div input:focus {
      color: #333;
      border: 1px solid #0E6463; }
  .form div button {
    border-radius: 15px;
    cursor: pointer;
    background: #0E6463;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; }
    .form div button:hover {
      opacity: .8; }
  .form .radio {
    display: flex; }
  .form .checkboxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch; }
    .form .checkboxes div {
      padding: 6px; }
      .form .checkboxes div label {
        font-family: "Just Another Hand";
        font-size: 36px; }
  .form textarea {
    width: 100%;
    min-height: 100px; }

.social {
  border: solid 2px white;
  padding: auto;
  border-radius: 100%;
  font-size: 28px;
  line-height: 46px;
  height: 48px;
  width: 48px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease; }

.facebook {
  background: #3B5998;
  color: white; }
  .facebook:hover {
    border: solid 2px #3B5998;
    color: #3B5998;
    background: white; }

.google {
  background: #dd4b39;
  color: white; }
  .google:hover {
    border: solid 2px #dd4b39;
    color: #dd4b39;
    background: white; }

.login-html .login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; }
  .login-html .login-form .sign-in-htm, .login-html .login-form .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear; }

.login-html .sign-in,
.login-html .sign-up {
  display: none; }

.login-html .tab {
  text-transform: uppercase;
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent; }

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: black;
  border-color: #0E6463; }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
  transform: rotate(0); }

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0); }

input[type="checkbox"] {
  height: 15px;
  width: 15px; }
  input[type="checkbox"]:checked {
    background-color: #0E6463; }

.matchesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
  margin-bottom: 100px; }
  .matchesList .petCard {
    border-radius: 20px;
    position: relative;
    background-color: #063648;
    padding: 2em;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .matchesList .petCard img {
      border-radius: 100%;
      object-fit: cover;
      display: block;
      height: 150px;
      width: 150px;
      border: dotted 3px white; }
    .matchesList .petCard a {
      text-decoration: none;
      color: white; }
    .matchesList .petCard h1 {
      font-family: "Just Another Hand";
      font-size: 42px;
      margin: 8px 0 8px 0; }
    .matchesList .petCard h2 {
      font-size: 16px;
      font-family: "Roboto";
      line-height: 0; }
    .matchesList .petCard:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media screen and (max-width: 480px) {
  .petCard {
    width: 90%;
    margin: 25px 0 25px 0;
    text-align: right; }
    .petCard #petInfo {
      position: absolute;
      top: 10px;
      right: 20px; } }

@media screen and (min-width: 480px) {
  .petCard {
    width: 216px;
    margin: 25px 10px 25px 10px;
    text-align: left; } }

.icons, .emailEnvelope, .unmatch {
  position: absolute;
  color: white;
  border-radius: 5em;
  transition: all .5s ease; }
  .icons:hover, .emailEnvelope:hover, .unmatch:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    background-color: white; }

.emailEnvelope {
  border: solid 3px #0E6463;
  right: 25px;
  background-color: #0E6463; }
  .emailEnvelope:hover {
    color: #0E6463;
    border: solid 3px #0E6463; }

.unmatch {
  border: solid 3px red;
  left: 25px;
  background-color: red; }
  .unmatch:hover {
    color: black;
    border: solid 3px black; }

.unmatch > .fa + .fa,
.unmatch:hover > .fa {
  display: none; }

.unmatch:hover > .fa + .fa {
  display: inherit; }

.smallIcon {
  bottom: -35px;
  width: 2.2em;
  height: 2.2em;
  font-size: 30px; }

.largeIconLeft {
  top: -1em;
  left: -1em;
  padding: .7em 0 0 .7em;
  width: 2.7em;
  height: 2.7em;
  font-size: calc(40px + 2vw); }

.largeIconRight {
  top: -1em;
  right: -1em;
  padding: .7em .7em 0 0;
  width: 2.7em;
  height: 2.7em;
  font-size: calc(40px + 2vw); }

.userProfile {
  padding: 2em;
  width: 100%; }
  .userProfile h4 {
    text-align: left;
    font-family: "Just Another Hand";
    font-size: 36px;
    margin: 15px 0 4px 0;
    line-height: 36px; }
  .userProfile p {
    text-align: right;
    margin: 0 0 0 40px; }
  .userProfile .userInfo {
    max-width: 600px;
    margin: auto;
    text-align: right;
    font-family: "Roboto";
    font-size: 22px; }
  .userProfile .userButtons button {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: #0E6463;
    width: 50%;
    max-width: 200px;
    margin: 2em 1em 2em 1em;
    padding: 12px 15px;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    transition: all .5s ease;
    transition: all .2s ease-in-out; }
    .userProfile .userButtons button:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .userProfile .userButtons #deleteUser {
    width: 80px;
    background-color: red; }

.email-text {
  font-size: 11px; }

.email-introduction {
  font-size: 13px; }

.email-header {
  font-size: 11px; }

.email-details {
  font-size: 12px; }
  .email-details .children {
    margin: 2px;
    font-size: 10px;
    color: teal;
    font-style: italic; }

.email-signoff {
  margin: 2px;
  font-size: 14px; }

.email-button {
  background-color: teal;
  color: white;
  padding: 5px 5px;
  margin: 5px;
  display: inline;
  text-decoration: none; }

.email-greeting {
  color: teal; }

h5 {
  margin: 3px; }

h3 {
  margin: 4px; }
