$use-filters: true;

.master-root {
    background-color: white;
    margin: auto;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

#card-stack {
    z-index: 1;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 40px;
    margin: 23px auto;
    height: 90vh;
    width: 85vw;
    box-shadow: (inset 0 -6px 0 0 #9d9d9d, inset 0 -8px 0 0 rgb(116, 116, 116), inset 0 -14px 0 0 #c1c1c1, inset 0 -15px 0 0 rgb(123, 122, 122),0 4px 10px -4px rgba(0, 0, 0, 0.8));

    // A bit more padding on the bottom to compensate for the box-shadow inset
    padding: 1em 1em 1.5em 1em;
}

.card {
    color: black;
    background: $secondary-light-color;
    border: solid 5px $primary-medium-color;
    border-radius: 40px;
    background-size: cover;
    position: absolute;
    height: 90vh;
    width: 85vw;
    margin: 0 auto;
    transition: box-shadow .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    overflow: hidden;
    z-index: 5;
}

.animate {
    transition: transform .3s;
    box-shadow: none;
}

.inactive {
    box-shadow: none;
}

.alert {
    width: 80px;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    vertical-align: middle;
    line-height: 1rem;
}

.alert-visible {
    opacity: .8;
}

.alert-base {
    height: 100px;
    width: 100px;
    margin: 15px;
    padding: 8px 5px 5px 5px;
    top: 0;
    border-radius: 100%;
}

.icon {
    height: 80px;
    width: 80px;
}

.alert-right {
    @extend .alert-base;
    right: 2vw;
    background: red;
}

.alert-left {
    @extend .alert-base;
    left: 2vw;
    background: black;
}

.geoLoc {
      border-radius: 15px;
      cursor: pointer;
      background: $primary-light-color;
      width: 100%;
      padding: 10px 15px;
      color: #fff;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      transition: all .5s ease;
      &:hover {
          opacity: .8;
      }
}
