.splash,
.splash::before {
    text-align: left;
    background: linear-gradient(rgba(14, 100, 99, 0.8), rgba(14, 100, 99, 0.8)), url("./styles/splash.webp") no-repeat center center fixed;
    background-size: cover;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    border-radius: 30px;
    position: absolute;
    background: rgba(255, 243, 229, 0.8);
    width: calc(285px + 10vw);
    padding: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .img-container {
        display: flex;
        width: 100%;
        height: 100px;
    }

    .social-container {
        position: absolute;
        bottom: 0;
    }

    #logo {
        width: 200px;
        margin: auto;
        padding: 0 15px 0 0;

    }

    h2 {
        margin: 0 0 20px;
        line-height: 1;
        color: $primary-light-color;
        font-size: 18px;
        font-weight: 400;
    }
    div {
        input {
            border-radius: 10px;
            outline: none;
            display: block;
            width: 100%;
            margin: 0 0 20px;
            padding: 10px 15px;
            border: 1px solid #ccc;
            color: #ccc;
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 400;
            transition: 0.2s linear;
            &:focus {
                color: #333;
                border: 1px solid $primary-light-color;
            }
        }
        button {
            border-radius: 15px;
            cursor: pointer;
            background: $primary-light-color;
            width: 100%;
            padding: 10px 15px;
            color: #fff;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            transition: all .5s ease;
            &:hover {
                opacity: .8;
            }
        }
    }
    .radio {
        display: flex;
    }

    .checkboxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div {
            padding: 5px;
        }
    }

    textarea {
        width: 100%;
        min-height: 100px;
    }
}

.social {
    border: solid 2px white;
    padding: auto;
    border-radius: 100%;
    font-size: 28px;
    line-height: 46px;
    height: 48px;
    width: 48px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
}

.facebook {
    background: #3B5998;
    color: white;
    &:hover {
        border: solid 2px #3B5998;
        color: #3B5998;
        background: white;
    }
}

.google {
    background: #dd4b39;
    color: white;
    &:hover {
        border: solid 2px #dd4b39;
        color: #dd4b39;
        background: white;
    }
}

.login-html {

    .login-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;

        .sign-in-htm, .sign-up-htm {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear;
        }
    }

.sign-in,
.sign-up {
    display: none;
}

.tab {
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.sign-in:checked + .tab,
.sign-up:checked + .tab {
    color: black;
    border-color: $primary-light-color;
}

.sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}
}
