#singleMatchContainer {
    background-size: cover;
    position: relative;
    margin: auto;
    padding: 2vw;
    overflow: hidden;
}

#petCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: calc(10px + 1vw);
    * {
        transition: all .4s ease;
    }
    .petPic {
        margin: auto;
        border-radius: 30px;
        object-fit: cover;
        display: block;
    }
    #picContainer {
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {
    .expanded {
        h2,
        h3,
        h4,
        p,
        div {
            display: block;
            margin: 2px;
        }
        h1 {
            font-size: 40px;
            margin: 3px;
        }
        h2 {
            font-size: 16px;
        }
        .petPic {
            width: 150px;
            height: 150px;
        }
    }
    .collapsed {
        p,
        h4 {
            transform: translateY(600px);
        }
        .petPic {
            width: 250px;
            height: 250px;
        }
    }
    #singleMatchContainer {
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    .collapsed,
    .expanded {
        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: 24px;
            line-height: 0;
        }
        h3,
        h4,
        p,
        div {
            display: block;
        }
        .petPic {
            width: 300px;
            height: 300px;
        }
    }
    #singleMatchContainer {
        margin: auto;
        border-radius: 40px;
        width: auto;
        max-width: 800px;
        border: dotted 5px $primary-dark-color;
    }
}

.flex {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
