#singleMatchContainer {
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 5vw;
    overflow: hidden;
}

#petCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 5vw;
    * {
        transition: all .4s ease;
    }
    .petPic {
        padding: 20px;
        margin: auto;
        border-radius: 100%;
        object-fit: cover;
        display: block;
    }
    #picContainer {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
.expanded {
    h2,
    h3,
    h4,
    p,
    div {
        display: block;
    }

    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 18px;
        }

    .petPic {
        width: 150px;
        height: 150px;
    }
}

.collapsed {
    p,
    h4 {
    transform: translateY(600px);
    }
    .petPic {
        width: 70vw;
        height: 70vw;
    }
}
}

@media screen and (min-width: 480px) {
    .collapsed, .expanded {
            h2,
            h3,
            h4,
            p,
            div {
                display: block;
            }
            .petPic {
                width: 300px;
                height: 300px;
        }
    }
}
