$primary-dark-color: #041733;
$primary-medium-color: #063648;
$primary-light-color: #0E6463;
$secondary-light-color: #FFF;
$secondary-medium-color: #CCB283;

$primary-font-family: 'Roboto';
$secondary-font-family: 'Just Another Hand';

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: $secondary-light-color;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

h1 {
    font-family: $secondary-font-family;
    font-size: 70px;
    margin: 20px;
}

h1,
h2 {
    font-weight: 500;
}

@import "_singlePet";
@import "_allPets";
@import "_petTypes";
@import "_menu";
@import "_forms";
@import "_matches";
@import "_user";
